.popup {
    position: absolute;
    left: 50%;
    top: 15%;
}

.popup_inner {
    background-color: #fff;
    width: 200px;
    height: 150px;
}
.fixed_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.img {
    height: 800px;
}

.close-btn {
    position: absolute;
    top: -15px;
    left: 10px
}

